@model MedicPedia2.Models.ViewModels.ArticleViewModel


<h2>Create</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Begin create</legend>
        <div>@Html.LabelFor(model => model.Article.Title)</div>
        <div>@Html.TextBoxFor(model => model.Article.Title)</div>
        <br>
        <div>@Html.LabelFor(model => model.Article.Content)</div>
        <div>@Html.TextAreaFor(model => model.Article.Content, 10, 500, new { HtmlAttributes = new { @id = "textareaarticle" } })</div>
        <br>
        <div>
            @Html.LabelFor(m => m.Article.Categories)
            @Html.ListBoxFor(m => m.Article.Categories, Model.AllPossibleCategories)
        </div>
        <br>
        <div>@Html.LabelFor(model => model.AllPossibleAuthors)</div>
        <div>@Html.DropDownList("Dropdownlist", Model.AllPossibleAuthors, optionLabel: "Select a author")</div>
        <br>
        <div>
            <input type="submit" value="Create">
        </div>
        <br>
    </fieldset>
}