@model  MedicPedia2.Models.ViewModels.ArticleViewModel

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Article.Id)
    <div>
        @Html.LabelFor(m => m.Article.Title)
        @Html.TextBoxFor(m => m.Article.Title)
    </div>

    <div>
        @Html.LabelFor(m => m.Article.Categories)
        @Html.ListBoxFor(m => m.Article.Categories, Model.AllPossibleCategories)
    </div>

    <div>
        @Html.LabelFor(m => m.Article.Content)
        @Html.TextAreaFor(m => m.Article.Content, 10, 500, new { HtmlAttributes = new { @id = "textareaarticle" } }))
    </div>

    <div>
        @Html.LabelFor(m => m.Article.Tags)
        @*@Html.ListBoxFor(m => m.Article.Tags)*@
    </div>

    <div>
        @Html.LabelFor(m => m.Article.Author)
        @Html.TextBoxFor(m => m.Article.Author)
    </div>

    <div>
        <input type="submit" value="Update" name="Update">
    </div>

}